<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Welcome Email</title>
</head>

<body>
    <h1 style="background-color: azure;">
        Hatılatsana Ailesine Hoşgeldin {{name}}!
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>

    <h2 style="background-color: ;"> Kaydını tamamlamak için <a href={{link}}>buraya</a> tıklayabilirsin</h2>
    {{link}}
    </h1>


</body>

</html>