<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Welcome Email</title>
</head>

<bodystyle="background-color: azure;">
    <h1>
        Hatılatsana Ailesine Hoşgeldin {{name}}!
        <br />
        <br />
        <br />
        <br />
        <br />

        <h2 style="background-color: ;"> Kaydını tamamlamak için <a href="{{link}}">buraya</a> tıklayabilirsin</h2>
        <h5>Link Çalışmıyor Mu? Buraya Tıkla : {{link}}</h5>
    </h1>


    </body>

</html>